<div class="content">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<li>系统管理</li>
		</li>
		<li>
			<a href="javascript:void(0)" ui-sref="/.dictList">数据字典</a>
		</li>
		<li>数据字典编辑</li>
	</ul>
	<div class="box">
		<form class="formgroup" name="aclRoleForm">
			<div class="formrow">
				<label class="labtext-left">字典名</label> <input type="text" name="dictName" ng-model="data.dictName" required="required" maxlength="15" placeholder="请输入15位以内字典名"/>
			</div>
			<div class="formrow">
				<label class="labtext-left">字典值</label> <input type="text" name="dictValue" ng-model="data.dictValue" required="required" maxlength="15" placeholder="请输入15位以内字典值"/>
			</div>
			<div class="fllab">
				<input type="submit" class="submit" value="保存" ng-click="save()" ng-disabled="aclRoleForm.$invalid" />
			</div>
		</form>
	</div>
</div>