<div class="content">
	<ul class="breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<li>系统用户管理</li>
		</li>
		<li>系统用户列表</li>
	</ul>
	<div class="box">
		<div class="filterForm">
			<ul class="clearfix">
				<li>登录账号：<input type="text" placeholder="请输入登录账号" ng-model="data.account"></li>
				<li>姓名：<input type="text" placeholder="请输入姓名" ng-model="data.name"></li>
				<li>手机号：<input type="text" placeholder="请输入手机号" ng-model="data.mobile"></li>
				<li>邮箱：<input type="text" placeholder="请输入邮箱" ng-model="data.email"></li>
				<li>状态：
					<select name="charge" ng-model="data.status" ng-change="query()">
						<option value="">全部</option>
						<option value="1">正常</option>
						<option value="2">已冻结</option>
						<option value="3">已销户</option>
					</select>
				</li>
				<li>创建日期：<input type="text" id="startRegDate" class="startdate" onchange="" onfocus="MyDatePicker({maxDate:'#F{$dp.$D(\'endRegDate\')||\'%y-%M-%d\'}'})" ng-model="data.startRegDate" /> 至
					<input type="text" id="endRegDate" class="enddate" onchange="" onFocus="MyDatePicker({minDate:'#F{$dp.$D(\'startRegDate\',{d:0});}',maxDate:'%y-%M-%d'})" ng-model="data.endRegDate" />
				</li>
				<li><button type="button" class="searchbtn" ng-click="query()" >查询</button></li>
				<li><button type="button" class="searchbtn" ng-click="reset()">重置</button></li>
			</ul>
		</div>
		<div class="signList">
			<div class="operation">
				<a href="javascript:void(0)" ng-click="add()" class="addSign" ng-if="ops['O_SYS_USER_ADD']"><i class="fa fa-plus"></i>新增</a>
				<a href="javascript:void(0)" ng-click="refresh()" class="addSign"><i class="fa fa-refresh"></i>刷新</a>
			</div>
			<table class="tablelist">
				<thead>
					<tr>
						<th class="cell-seq">序号</th>
						<th class="cell-text">登录账号</th>
						<th class="cell-text">姓名</th>
						<th class="cell-text">角色</th>
						<th class="cell-number">手机</th>
						<th class="cell-text">邮箱</th>
						<th class="cell-text">状态</th>
						<th class="cell-text">创建时间</th>
						<th class="cell-con">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td class="cell-seq">{{$index + 1}}</td>
						<td class="cell-text">{{item.account}}</td>
						<td class="cell-text">{{item.name}}</td>
						<td class="cell-text">{{item.roleName}}</td>
						<td class="cell-number">{{item.mobile}}</td>
						<td class="cell-text">{{item.email}}</td>
						<td class="cell-text">{{item.status | AclUserAcctStatusFilter}}</td>
						<td class="cell-text">{{item.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="cell-con">
							<a href="javascript:void(0)" ng-click="edit(item)" ng-if="ops['O_SYS_USER_EDIT']">编辑</a>
							<a href="javascript:void(0)" ng-click="lock(item.id)" ng-if="ops['O_SYS_USER_STATUS_CTRL'] && item.status == 1">冻结</a>
							<a href="javascript:void(0)" ng-click="unlock(item.id)" ng-if="ops['O_SYS_USER_STATUS_CTRL'] && item.status == 2">激活</a>
							<a href="javascript:void(0)" ng-click="del(item.id)" ng-if="ops['O_SYS_USER_STATUS_CTRL'] && item.status == 2">删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="defaultPage" ng-show="items == null">
		<img src="img/nodata.png" /> <span>暂无数据</span>
	</div>
	<uib-pagination total-items="pagerConf.totalItems" ng-model="pagerConf.currentPage" max-size="pagerConf.maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true"></uib-pagination>
</div>