<div class="navbars">
	<div class="logo">
		<img src="../img/logo.png"/>
	</div>
	<ul class="user-info">		
		<li class="paneldown">			
			<a href="javascript:void(0);" class="signInfo"><span class="fa fa-user"></span>{{userInfo.name}}@{{roleInfo.name}}<span class="fa fa-caret-down"></span></a>
			<div class="infoPanel">
				<a href="javascript:void(0);" class="signOut" ng-click="modifyPwPopup()">修改密码</a>
				<a href="javascript:void(0);" class="signOut" ng-click="logout()">注销登录</a>				
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
    $(function(){
        $('.paneldown').mouseover(function(){
        	$(this).addClass('open');
        }).mouseout(function(){
        	$(this).removeClass('open');
        })
    });
</script>